/* Make the whole page a flexbox to center the content */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FAFAFA; /* White background */
}

.container {
    height: 100%;
    display: flex;
    justify-content: center; /* Center Horizontally */
    align-items: center;     /* Center Vertically */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 72px;         /* Big text */
    font-weight: normal;
    color: #000;             /* Black text */
    margin: 0;
    letter-spacing: -1px;    /* Slight tighten for that "Modern" look */
}

.accent-line {
    width: 60px;
    height: 1px;
    background-color: #383838;
    margin-top: 24px;
    margin-bottom: 16px;
}

.year {
    font-style: italic;
    font-size: 20px;
    color: #000;
}
